* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
}

button {
    display: block;
}

h2 {
    margin-bottom: 10px;
    font-size: 32px;
}

h3 {
    margin-bottom: 7px;
    font-size: 24px;
}

h4 {
    margin-bottom: 5px;
    font-size: 18px;
}

.box {
    width: 1200px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* colors: 9fa8a3 3b4a4d bccbde c2dde6 e3e0cf c5d5cb e6e9f0 8dd4e2 */