.user {
    width: 590px;
    padding: 20px;
    margin-bottom: 20px;
    background: #d5e4db;

}

.user_name {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.user_details-btn {
    width: 190px;
    padding: 10px;
    margin-left: 180px;
    background: #000000;
    color: #ffffff;
}